.main-form__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.main-form__heading {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 30px;
    font-weight: 500;
    color:#283645;
    text-align: center;
    width: 86%;
    height: auto;
    padding-top: 45px;
    margin-bottom: 34px;
}
.big-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.first-set {
    padding-left: 20px;
    padding-right: 20px;
}
.first-list__item {
    display: flex;
    flex-direction: column;
}
.first-list__item-label {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 30px;
    color:#d22856;
    text-transform: uppercase;
    margin-left: 23px;
    margin-bottom: 8px;
}
.first-list__item-input {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    color:#283645;
    width: 92%;
    height: 55px;
    border: 2px solid #e5e5e5;
    padding:0px;
    padding-left:20px;
    margin-bottom: 23px;
}
.first-list__item-input:last-child {
    margin-bottom: 44px;
}
.first-list__item-input::-webkit-input-placeholder,
.first-list__item-input::-moz-placeholder,
.first-list__item-input:-moz-placeholder,
.first-list__item-input:-ms-input-placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    color:#283645;
}

.second-set {
    background-color: #f2f2f2;
}
.second-set__description {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 18px;
    color:#d22856;
    text-transform: uppercase;
    width: 78%;
    text-align: center;
    padding-top: 41px;
    margin:0 auto;
    margin-bottom: 42px;
}
.second-list {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
}
.second-list__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 45px;
}
.second-list__item-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.second-list__item-input+label{
    display:flex;
    align-items: center;
    user-select: none;
}

.second-list__item-input+label::before {
    content: '';
    display: inline-block;
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid #e5e5e5;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    margin-left: 22px;
    margin-right: 1.5em;
}
.second-list__item-input:checked+label::before {
    background-image: url(../img/icon-yes.svg);
}
.second-list__item-label {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    color:#283645;
}

.third-set {
    padding-left: 20px;
    padding-right: 20px;
}
.third-list {
    margin-top: 39px;
}
.third-list__item {
    display: flex;
    flex-direction: column;
}
.third-list__item-label {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 30px;
    color:#d22856;
    text-transform: uppercase;
    margin-left: 23px;
    margin-bottom: 8px;
}
.third-list__item-input {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    color:#283645;
    width: 92%;
    height: 55px;
    border: 2px solid #e5e5e5;
    padding:0px;
    padding-left:20px;
    margin-bottom: 23px;
}
.third-list__item-input:last-child {
    margin-bottom: 44px;
}
.third-list__item-input::-webkit-input-placeholder,
.third-list__item-input::-moz-placeholder,
.third-list__item-input:-moz-placeholder,
.third-list__item-input:-ms-input-placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    color:#283645;
}

.fourth-set {
    background-color: #f2f2f2;
}
.fourth-set__description {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 18px;
    color:#d22856;
    text-transform: uppercase;
    width: 78%;
    text-align: center;
    padding-top: 41px;
    margin:0 auto;
    margin-bottom: 42px;
}
.fourth-list {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
}
.fourth-list__item {
    display: flex;
    flex-direction: row;
    margin-bottom: 39px;
}
.fourth-list__item:last-child {
    margin-bottom: 42px;
}
.fourth-list__item-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.fourth-list__item-input+label{
    display:flex;
    align-items: center;
    user-select: none;
}
.fourth-list__item-input+label::before {
    content: '';
    display: inline-block;
    width: 37px;
    height: 36px;
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 50%;
    background: #ffffff;
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: 22px;
    margin-right: 1.5em;
}
.fourth-list__item-input:checked+label::after {  
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #d22856;
    left:32px;
}
.fourth-list__item-label {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    color:#283645;
}

.fifth-set {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 52px;
}
.fifth-set__description {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 18px;
    color:#d22856;
    text-transform: uppercase;
    margin-top: 41px;
    margin-bottom: 19px;
}
.fifth-set__area {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    color:#283645;
    border:2px solid #e5e5e5;
    width:85%;
    min-height: 193px;
    padding-top:23px;
    padding-left: 19px;
    padding-right: 19px;
}
.big-form__submit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color:#ffffff;
    width:87%;
    height:59px;
    background-color: #2aab6d;
    border: none;
    cursor: pointer;
    padding: 0;
    margin:0 auto;
    margin-bottom: 46px;
}
.big-form__required {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 30px;
    font-weight: 500;
    color:#283645;
    text-transform: uppercase;
    margin:0 auto;
}
.big-form__required-star {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 30px;
    font-weight: 500;
    color:#d22856;
}
